@page "/"

<SfChart Title="Olympic Medals">
     <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Title="Country">
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Medals Count"></ChartPrimaryYAxis>
    <ChartSeriesCollection>
        <ChartSeries DataSource="@ChartData" XName="Country" YName="Gold" Type="ChartSeriesType.Column"
                     Name="Gold">
        </ChartSeries>
        <ChartSeries DataSource="@ChartData" XName="Country" YName="Silver" Type="ChartSeriesType.Column"
                     Name="Silver">
        </ChartSeries>
    </ChartSeriesCollection>
            <ChartTooltipSettings Enable="true">
            <Template>
                @{
                    var data = context as ChartTooltipInfo;
                    <div>
                        <table style="width:100%;  border: 1px solid black;" class="table-borderless">
                            <tr>
                                <td style="height: 25px; width: 80px; background-color: #C1272D; font-size: 14px; color: #E7C554; font-weight: bold; padding-left: 5px ">@data.X</td>
                            </tr>
                            <tr>
                                <td style="height: 25px; width: 80px; background-color: #C1272D; font-size: 14px; color: #FFFFFF; font-weight: bold; padding-left: 5px ">@data.SeriesName : @data.Y</td>
                            </tr>
                        </table>
                    </div>
                }
            </Template>

        </ChartTooltipSettings>
        @* <ChartTooltipSettings Enable="true" Header="Medals" Format="<b>${series.name} : ${point.y}</b>"></ChartTooltipSettings>*@
</SfChart>

@code {

    public class ChartDataModel
    {
        public string Country { get; set; }
        public double Gold { get; set; }
        public double Silver { get; set; }
    }

    List<ChartDataModel> ChartData = new List<ChartDataModel>
    {
        new ChartDataModel { Country= "USA", Gold= 70, Silver= 60 },
        new ChartDataModel { Country= "China", Gold= 60, Silver= 40 },
        new ChartDataModel { Country= "Japan", Gold= 70, Silver= 65 },
        new ChartDataModel { Country= "Australia", Gold= 60, Silver= 55 },
        new ChartDataModel { Country= "France", Gold= 50, Silver= 45 },
        new ChartDataModel { Country= "Germany", Gold= 40, Silver= 30 },
        new ChartDataModel { Country= "Italy", Gold= 35, Silver= 40 },
        new ChartDataModel { Country= "Sweden", Gold= 30, Silver= 25 },
    };
}
